@function mixb($variable, $opacity) {
  @return unquote('linear-gradient(to top,rgba(0, 0, 0,'+ $opacity +'),rgba(0, 0, 0,' + $opacity + '))' + $variable);
}

.sample {
  --sample-color: var(--primary-color);
  display: block;
  flex: 1;
  padding: 0.25em;
  text-align: center;
  min-height: 2em;
  background: var(--sample-color);
  transition: all 60ms linear;
}

.activeSample {
  background: mixb(var(--sample-color), 0.3);
}

.sampleText {
  display: block;
  color: var(--light-color);
}

.primary {
  --sample-color: var(--primary-color);
  @extend .sample;
}

.secondary {
  --sample-color: var(--secondary-color);
  @extend .sample;
}

.complementary {
  --sample-color: var(--complementary-color);
  @extend .sample;
}